.body {
	font: 14px "Century Gothis", Futura, sans-serif;
	margin: 20px;
}

.square {
	background: #ffffff;
	border: 1px solid #999999;
	font-size: 1.5rem;
	height: 10vw;
	width: 10vw;
	margin: 0 auto;
	text-align: center;
	color: black;
}

.status {
	margin: 10px;
}
